body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 1000px;
  max-width: 1000px;
  background-color: #ffffff;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  color: #555555;
  font-size: 1.2em;
  margin-top: 5px;
}

article {
  line-height: 1.6;
  color: #333333;
}

footer {
  text-align: center;
  margin-top: 4rem;
  font-size: 0.9em;
  color: #777777;
}

.stylized-line {
  border: none;
  height: 1px;
  background-color: #9b9ea085; /* Cor da linha */
  margin: 2rem 0; /* Espaçamento acima e abaixo da linha */
}

div .calc {
  justify-content: center;
  display: grid;
}

div .left {
  display: grid;
  justify-items: end;
}

div .conta{
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  border: 1px solid #ccc;
}

div .validate{
  display: flex;
  gap: 2rem;
  justify-content: center;
}

div .input
{
  display: flex;
  align-items: center;
}
label {
  font-size: 16px;
  color: #555;
}

input[type="number"] {
  width: 100%;
  max-width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;  
  transition: border 0.3s ease;
}

input[type="number"]:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 0 0 8px 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  color: #333;
}

div .left_params {
  display: grid;
}