/* Paleta Solarized */
:root {
  --base03: #1C1C1C; /* Escuro */
  --base02: #2C2C2C; /* Um pouco mais claro */
  --base01: #4B4B4B; /* Cinza */
  --base00: #6B6B6B; /* Cinza claro */
  --base0: #BEBEBE; /* Cinza muito claro */
  --base1: #D6D6D6; /* Quase branco */
  --base2: #FFFFFF; /* Branco */
  --base3: #FCF8EE; /* Cor clara */
  --yellow: #F6EB61; /* Amarelo */
  --orange: #FF8800; /* Laranja */
  --red: #FF4C4C; /* Vermelho */
  --magenta: #D5006D; /* Magenta */
  --violet: #7E4C9C; /* Violeta */
  --blue: #0088CC; /* Azul */
  --cyan: #00b2a9ce; /* Ciano */
  --cyan2:#e2faddf8; /* Ciano */
  --green: #4CAF50; /* Verde */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--base3);
  color: var(--base00);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: 5rem 0;
  width: 1000px;
  max-width: 100%;
  background-color: var(--base2);
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 43, 54, 0.15);
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: var(--blue);
}

h3 {
  margin-top: 2rem;
  color: var(--green);
}

.subtitle {
  color: var(--base01);
  font-size: 1.2em;
  margin-top: 5px;
}

article {
  line-height: 1.6;
  color: var(--base00);
}

footer {
  text-align: center;
  margin-top: 4rem;
  font-size: 0.9em;
  color: var(--base01);
}

.stylized-line {
  border: none;
  height: 2px;
  background-color: var(--base1);
  margin: 2rem 0;
}

div.calc {
  justify-content: center;
  display: grid;
}

div.left {
  display: grid;
  justify-items: end;
}

div.conta {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 43, 54, 0.15);
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--base1);
}

div.validate {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

div.input {
  display: flex;
  align-items: center;
}

label {
  font-size: 16px;
  color: var(--base01);
}

input[type="number"] {
  width: 100%;
  max-width: 100px;
  padding: 10px;
  border: 1px solid var(--base1);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 43, 54, 0.1);
  font-size: 16px;  
  transition: border 0.3s ease;
}

input[type="number"]:focus {
  border-color: var(--blue);
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: var(--blue);
  color: var(--base3);
  border: none;
  border-radius: 0 0 8px 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--cyan);
}

p {
  font-size: 18px;
  color: var(--base00);
}

div.left_params {
  display: grid;
}

p.tex_result {
  background-color: var(--cyan2);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 3rem;
  color: black;
}

div.section {
  margin: 3rem 1rem 3rem 1rem;
}

a {
  color: var(--blue);
}

ul li{
  margin: 1rem;
}

div.rate {
  display: flex;
  gap: 2rem;
  justify-content: center;
}