<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link rel="stylesheet" href="template/template.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script src="template/script.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Simulação via Eventos Discretos</h1>
        <p class="subtitle">Discrete Time Event Simulation</p>
      </header>
      <div class="section">
        <h2>Fila M/M/1</h2>
        <p>
          Os elementos chave em uma simulação por eventos discretos são
          variáveis e eventos. Para executar a simulação, é necessário manter o
          controle de certas variáveis. No geral, existem três tipos de
          variáveis que devemos manipular:
        </p>
        <ul>
          <li>
            <strong>Variável de tempo:</strong> representa a quantidade de tempo
            simulado que passou.
          </li>
          <li>
            <strong>Variável de contagem:</strong> mantém a contagem de quantas
            vezes um determinado evento ocorreu até o tempo <em>t</em>.
          </li>
          <li>
            <strong>Variável de estado do sistema:</strong> descreve o estado do
            sistema em um instante de tempo <em>t</em>.
          </li>
        </ul>
        <p>
          Considere um serviço de atendimento, onde os clientes chegam para
          serem atendidos. Se houver fila, eles esperam sua vez até que o
          servidor (o atendente) esteja disponível. O sistema funciona sob uma
          política <b>FIFO</b> (<i>First In, First Out</i>), ou seja, o primeiro
          cliente a chegar é o primeiro a ser atendido. Apenas um cliente pode
          ser atendido por vez, e os outros aguardam.
        </p>
        <p>
          É o sistema de filas mais simples, onde existe um único servidor, já
          que apenas um cliente pode ser atendido por vez. Em modelos de fila
          <b>M/M/1</b> em que há apenas um servidor, consideramos que os
          clientes chegam de acordo com um processo de <b>Poisson</b> e os
          tempos de serviço têm uma distribuição <b>exponencial</b>. Na
          simulação desse modelo, utilizamos a seguinte função para a geração
          dos tempos:
        </p>
        <p>$$T = \frac{-1}{\lambda} \cdot ln(U)$$</p>
        <p>
          onde <i><b>U</b></i> é um número aleatório gerado uniformemente no
          intervalo (0,1).
        </p>
        <h2>Lei de Little</h2>
        <p>
          Um dos fundamentos da teoria de filas é a
          <a href="https://en.wikipedia.org/wiki/Little%27s_law" target="_blank"
            >Lei de Little</a
          >, dada pela fórmula: \[ E[N] = \lambda \cdot E[W] \] Essa fórmula se
          aplica a qualquer sistema em equilíbrio, onde os clientes chegam,
          passam certo tempo, são atendidos e partem.
        </p>
        <ul>
          <li>
            \(\lambda\): a taxa de chegada, por exemplo, (clientes/unidade de
            tempo).
          </li>
          <li>\(E[N]\): número médio de elementos dentro do sistema.</li>
          <li>\(E[W]\): tempo médio que cada elemento permanece no sistema.</li>
        </ul>
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h2>Medidas de Desempenho</h2>
        <p>
          O modelo é considerado estável somente se \(\lambda < \mu\). Se, em
          média, as chegadas ocorrem mais rapidamente que as conclusões dos
          serviços, a fila se tornará indefinidamente longa.
        </p>

        <p>
          A seguir foram calculadas medidas de desempenho com base em cada
          simulação realizada, cada gráfico conta com uma legenda onde estão
          classificadas as simulações e seus respectivos parâmetros de execução:
        </p>
        <ul>
          <li>
            <b
              >(P1: Tempo médio entre as chegadas escolhido, P2: Tempo médio de
              atendimento escolhido)</b
            >
          </li>
        </ul>

        Em algumas medidas, existem campos que podem ser utilzados para validar
        o desempenho do sistema.
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h3>1. Utilização/Ocupação (\(\rho\))</h3>
        <p>
          Sabendo que, a cada \(1/\lambda\) unidades de tempo um novo cliente
          chega, e a cada \(1/\mu\) unidades de tempo um atendimento é
          finalizado, temos que:
        </p>
        $$\text{Tempo médio entre as chegadas} = \frac{1}{\lambda} $$
        $$\text{Tempo médio de atendimento} = \frac{1}{\mu} $$
        <p>Com isso, a intensidade do tráfego pode ser reescrita como:</p>
        <p>
          A utilização ou ocupação do sistema mede a proporção média do tempo em
          que o servidor fica ocupado em relação ao tempo total de operação, é
          necessário que \( \rho < 1 \) para que a fila seja estável, caso
          contrário ela crescerá indefinidamente. A utilização é dada pela
          fórmula: $$\rho = \frac{\lambda}{\mu}$$
        </p>

        {{ fig2|safe }}

        <div class="calc">
          <h3>Valide a utilização:</h3>
          <div class="conta">
            \(\rho\) =
            <div class="left">
              <div class="input">
                <label for="util_lambda">Taxa de chegada (λ):</label>
                <input
                  type="number"
                  id="util_lambda"
                  placeholder="λ"
                  min="0"
                  step="0.1"
                />
              </div>

              <div>
                <hr />
                <div class="input">
                  <label for="util_mu">Taxa de serviço (μ):</label>
                  <input
                    type="number"
                    id="util_mu"
                    placeholder="μ"
                    min="0"
                    step="0.1"
                  />
                </div>
              </div>
            </div>
            <div class="right">
              <p id="util_res"></p>
            </div>
          </div>

          <button onclick="calcularOcupacao()">Calcular</button>
        </div>
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h3>2. Número máximo de elementos na fila</h3>
        <p>
          Este gráfico mostra o número máximo de elementos na fila durante a
          simulação. O número de elementos pode variar dependendo da taxa de
          chegada de novos elementos e da capacidade do sistema de processá-los.
        </p>
        {{ fig1|safe }}
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h3>
          3. Média de elementos no sistema (\(E[N]\)) & Tempo médio de espera
          (\(E[W]\))
        </h3>
        <p>
          A média de elementos no sistema reflete quantos itens, em média, estão
          presentes no sistema a qualquer instante de tempo. Já o tempo médio de
          espera representa o tempo que um elemento permanece no sistema.
        </p>
        {{ fig3|safe }}

        <h3>Validação \(E[N]\) e \(E[W]\):</h3>
        <div class="tex">
          <div>
            <p>
              Em um modelo estável, isto é, \(\rho < 1\), a probabilidade de
              haver exatamente \(n\) clientes no sistema é denotada por \(P_n\).
              Essa probabilidade segue uma
              <b>distribuição geométrica</b> e pode ser expressa como:
            </p>
            $$ P_n = (1 - \rho) \cdot \rho^n$$

            <p>
              Para uma distribuição discreta, o valor esperado é dado pela soma
              ponderada das probabilidades de cada estado:
            </p>

            $$E[N] = \sum\limits_{n=0}^\infty n \cdot P_n$$

            <p>Substituímos \( P_n = (1 - \rho) \cdot \rho^n \) na equação:</p>
            $$E[N] = \sum\limits_{n=0}^\infty n \cdot (1 - \rho) \cdot \rho^n $$
            $$E[N] = (1 - \rho) \cdot \sum\limits_{n=0}^\infty n \cdot \rho^n $$

            <p>
              Agora, precisamos calcular a soma \( \sum_{n=0}^{\infty} n \cdot
              \rho^n \):
            </p>
            $$\sum\limits_{n=0}^\infty n \cdot \rho^n = \frac{\rho}{(1-\rho)^2}
            $$

            <p>Substituindo o resultado encontrado:</p>
            $$E[N] = \cancel{(1 - \rho)} \cdot \frac{\rho}{\cancel{(1-\rho)^2}}
            $$

            <p>Portanto,</p>
            <p class="tex_result">$$E[N] = \frac{\rho}{1-\rho} $$</p>
          </div>

          <div>
            <p>
              Assim, podemos aplicar a <b>Lei de Little</b> para encontrar
              \(E[W]\):
            </p>
            $$ E[N] = \lambda \cdot E[W]$$
            <p>Substituindo \(E[N]\) pela fórmula encontrada:</p>
            $$\frac{\rho}{1-\rho} = \lambda \cdot E[W]$$

            <p>Substituindo \(\rho = \frac{\lambda}{\mu}\):</p>
            $$\frac{\frac{\lambda}{\mu}}{1-\frac{\lambda}{\mu}} = \lambda \cdot
            E[W]$$ $$\frac{\lambda}{\mu - \lambda} = \lambda \cdot E[W]$$

            <p>Dividimos ambos os lados por \(\lambda\):</p>
            $$\frac{\cancel{\lambda}}{\cancel{\lambda}\cdot(\mu - \lambda)} =
            \frac{\cancel{\lambda} \cdot E[W]}{\cancel{\lambda}}$$

            <p>Portanto, o tempo médio de espera no sistema é definido por:</p>
            <p class="tex_result">$$E[W] = \frac{1}{\mu - \lambda}$$</p>
          </div>
        </div>

        <p>Calcule \(E[N]\) e \(E[W]\) através das fórmulas:</p>
        <div class="validate">
          <div class="left_params">
            <div class="input">
              <label for="e_rho"> (ρ):</label>
              <input
                type="number"
                id="e_rho"
                placeholder="ρ"
                min="0"
                step="0.1"
              />
            </div>

            <div class="input">
              <label for="e_mu"> (μ):</label>
              <input
                type="number"
                id="e_mu"
                placeholder="μ"
                min="0"
                step="0.1"
              />
            </div>

            <div class="input">
              <label for="e_lambda"> (λ):</label>
              <input
                type="number"
                id="e_lambda"
                placeholder="λ"
                min="0"
                step="0.1"
              />
            </div>
          </div>

          <div class="calc">
            <div class="conta">
              <p>$$E[N] = \frac{\rho}{1-\rho}$$</p>
              <p id="e_res"></p>
            </div>
            <button onclick="calcularL()">Calcular</button>
          </div>

          <div class="calc">
            <div class="conta">
              <p>$$E[W] = \frac{1}{\mu - \lambda}$$</p>
              <p id="w_res"></p>
            </div>
            <button onclick="calcularW()">Calcular</button>
          </div>
        </div>
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h3>
          4. Taxa de chegada de elementos no sistema - Lambda
          \(\left(\lambda\right)\)
        </h3>
        <p>
          A taxa de chegada, ou \(\lambda\), representa o número de novos
          elementos que chegam ao sistema por unidade de tempo, é representada
          pelo inverso do tempo médio entre as chegadas. Este valor é
          fundamental para calcular outras métricas, como a utilização e o
          número de elementos no sistema.
        </p>
        <p>$$\lambda = \frac{1}{\text{Tempo médio entre as chegadas}}$$</p>

        {{ fig4|safe }}
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h3>5. Erro de Little</h3>
        <p>
          O Erro de Little verifica a validade da fórmula de Little, que
          estabelece uma relação entre o número médio de clientes no sistema, o
          tempo médio de espera e a taxa de chegada de clientes. Um erro muito
          alto pode indicar inconsistências na simulação. Para garantir
          consistência, o erro de Little deve ser próximo de 0.
        </p>
        <p>Lei de Little: $$E[N] = \lambda \cdot E[W]$$</p>
        <p>
          $$\text{Erro de Little} = \left| E[N] - \lambda \cdot E[W] \right|$$
        </p>
        {{ fig5|safe }}

        <h3>Validação do Erro de Little:</h3>
        <div>
          <p>Temos que:</p>
          <ul>
            <li>\(\rho = \frac{\lambda}{\mu}\)</li>
            <li>\(E[N] = \frac{\rho}{1 -\rho}\)</li>
            <li>
              \(E[W] = \frac{1}{\mu - \lambda} = \frac{1}{\mu(1 - \rho)}\)
            </li>
          </ul>

          \[ \text{Erro de Little} = \left| E[N] - \lambda \cdot E[W] \right| \]
          <p>Substituindo \( E[N] \) e \( E[W] \):</p>
          \[ \text{Erro de Little} = \left| \frac{\rho}{1 - \rho} - \lambda
          \cdot \frac{1}{\mu(1 - \rho)} \right| \] \[ \text{Erro de Little} =
          \left| \frac{\rho}{1 - \rho} - \frac{\lambda}{\mu(1 - \rho)} \right|
          \]
          <p>
            Como \(\rho = \frac{\lambda}{\mu}\), substituímos \( \lambda = \rho
            \cdot \mu \) para simplificar:
          </p>
          \[ \text{Erro de Little} = \left| \frac{\rho}{1 - \rho} - \frac{\rho
          \cdot \cancel{\mu}}{\cancel{\mu}(1 - \rho)} \right| \] 
          \[ \text{Erro de Little} = \left| \frac{\rho}{1 - \rho} -
          \frac{\rho}{1-\rho}\right|\]
          <p>Portanto,</p>
          <p class="tex_result">\[ \text{Erro de Little} =0\]</p>
        </div>
      </div>
      <hr class="stylized-line" />
      <div class="section">
        <h3>Referências</h3>
        <ol>
          <li>
            <p>
              ROSS, S. M., <em>Simulation</em>. 4ª ed. San Diego: Academic
              Press, 2006.
            </p>
          </li>
        </ol>
      </div>

      <hr class="stylized-line" />

      <footer>
        <p>
          &copy; 2024 Otávio Brito &
          <a href="https://github.com/aliciagarnier" target="_blank"
            >Alicia Garnier</a
          >.
        </p>
        <a href="https://github.com/otaviofbrito/discrete-time-event-simulation"
          >Github</a
        >
      </footer>
    </div>
  </body>
</html>
